:root {
	--main-font: 'Exo', sans-serif;
	--second-font: 'Playfair Display', serif;
	--main-weight: 800;
	--nav-size: 16px;
}

/************* PC ANIMATION/HOVER ****************/

/*-- NAVIGATION --*/
header nav li a {
	position: relative;
	padding-bottom: 0.5em;
}

header nav li a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
	transform: scale3d(0, 1, 1);
	transition: transform 0.2s ease;
	-webkit-transition: transform 0.2s ease;
	-moz-transition: transform 0.2s ease;
	-ms-transition: transform 0.2s ease;
	-o-transition: transform 0.2s ease;
}

header nav li a:hover::before,
header nav li a:focus::before {
	transform: scale3d(1, 1, 1);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	-ms-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/*-- NAVIGATION --*/

/*-- COVER --*/

#cover .cover-text svg.polygon-video {
	fill: white;
	transition: transform 0.3s ease;
	-webkit-transition: transform 0.3s ease;
	-moz-transition: transform 0.3s ease;
	-ms-transition: transform 0.3s ease;
	-o-transition: transform 0.3s ease;
}

#cover .cover-text span {
	cursor: pointer;
}

#cover .cover-text span:hover svg.polygon-video {
	transform: translate(-3px, -3px) scale(1.1);
	fill: #cba36c;
	width: 15px;
	height: 15px;
	transition: transform 0.3s ease;
	-webkit-transition: transform 0.3s ease;
	-moz-transition: transform 0.3s ease;
	-ms-transition: transform 0.3s ease;
	-o-transition: transform 0.3s ease;
}

#cover .cover-text a:hover {
	transform: scale(1.03);
	transition: transform 0.3s ease;
	-webkit-transition: transform 0.3s ease;
	-moz-transition: transform 0.3s ease;
	-ms-transition: transform 0.3s ease;
	-o-transition: transform 0.3s ease;
}

/*-- COVER --*/

/*-- BUTTON --*/

#cover button,
#blog button {
	transition: border-color 0.3s, color 0.3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	position: relative;
	z-index: 1;
	cursor: pointer;
	overflow: hidden;
	transition: transform 0.15s ease;
	-webkit-transition: transform 0.15s ease;
	-moz-transition: transform 0.15s ease;
	-ms-transition: transform 0.15s ease;
	-o-transition: transform 0.15s ease;
}

#cover button::before,
#blog button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 140%;
	height: 100%;
	background-color: #cba36c;
	opacity: 0;
	z-index: -1;
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform-origin: 0% 100%;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
	-webkit-transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
	-moz-transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
	-ms-transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
	-o-transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

#cover button:hover,
#blog button:hover {
	color: white;
	border-color: #cba36c;
}

#cover button:hover::before,
#blog button:hover::before {
	opacity: 1;
	background-color: #cba36c;
	transform: rotate3d(0, 0, 1, 0deg);
	transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1);
	-moz-transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1);
	-ms-transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1);
	-o-transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

#cover button:focus,
#blog button:focus {
	transform: scale(0.95);
	transition: transform 0.15s ease;
}

/*-- BUTTON --*/

/*-- LECTEUR VIDEO --*/

.video-lecteur {
	opacity: 1;
	transition: opacity 0.2s ease;
}

.video-lecteur:hover {
	opacity: 0.9;
	transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
}

.video-lecteur:hover svg#lecteur .arrow {
	fill: rgb(238, 238, 238);
}

.video-lecteur:hover svg#lecteur .circle {
	stroke: rgb(238, 238, 238);
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 0.6s ease-in-out;
	-webkit-transition: stroke-dashoffset 0.6s ease-in-out;
	-moz-transition: stroke-dashoffset 0.6s ease-in-out;
	-ms-transition: stroke-dashoffset 0.6s ease-in-out;
	-o-transition: stroke-dashoffset 0.6s ease-in-out;
}

/************* PC ANIMATION/HOVER ****************/

/************* MOBILE ANIMATION ****************/

@media screen and (max-width: 991px) {
	/*** POSITION RIGHT NAV ***/
	header.mobile {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999999;
		height: 100vh;
		width: 335px;
		background-color: #f5f6f6;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		font-size: var(--nav-size);
		letter-spacing: 0.03em;
		color: black;
		-webkit-animation: navSlide 0.5s ease forwards;
		animation: navSlide 0.5s ease forwards;
	}

	/*-- ANIMATION NAV --*/

	@-webkit-keyframes navSlide {
		from {
			transform: translateX(-100%);
			opacity: 0;
		}

		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	@keyframes navSlide {
		from {
			transform: translateX(-100%);
			opacity: 0;
		}

		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	/*-- ANIMATION NAV --*/

	header.mobile nav li,
	nav li.big-menu {
		display: block;
	}

	object.center-line {
		position: static;
		margin-top: 1em;
		width: 12px;
		transform: translateY(10px);
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		-ms-transform: translateY(10px);
		-o-transform: translateY(10px);
	}

	header.mobile nav .right-icon {
		display: none;
	}

	header.mobile nav.left-nav,
	header.mobile nav.right-nav,
	header.mobile nav .right-link {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	header.mobile div.logo {
		order: 1;
		width: 100%;
		height: 34px;
		margin: 0;
		border-bottom: 1px solid #e2e2e5;
		padding: 0 1em;
	}

	header.mobile div.logo object {
		display: block;
		height: 24px;
	}

	header.mobile div.logo img {
		display: none;
	}

	header.mobile nav.left-nav,
	header.mobile nav.right-nav {
		width: 80%;
		height: auto;
		margin: 1.4em auto;
	}

	header.mobile nav.right-nav .right-link {
		width: 100%;
		display: block;
	}

	header.mobile nav.left-nav {
		order: 2;
		border-bottom: 1px solid #e2e2e5;
	}

	header.mobile nav.right-nav {
		order: 3;
	}

	header.mobile nav.left-nav li,
	header.mobile nav.right-nav li {
		padding: 1em;
	}

	header.mobile nav li.big-menu {
		font-weight: var(--main-weight);
		text-transform: uppercase;
	}

	header.mobile nav li a {
		color: black;
	}

	/*-- ANIMATION LINK --*/

	@-webkit-keyframes linkSlide {
		from {
			opacity: 0;
			transform: translateX(-5%);
		}

		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes linkSlide {
		from {
			opacity: 0;
			transform: translateX(-100%);
		}

		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

/*-- ANIMATION LINK --*/

/*-- BURGER ANIMATION --*/
header.mobile .burger {
	position: absolute;
	top: 1em;
	right: -2em;
}

header.mobile .burger div {
	background-color: black;
}

header.mobile .burger.cross .line_1 {
	transform: rotate(-45deg) translate(1px, 8px);
	width: 24px;
	-webkit-transform: rotate(-45deg) translate(1px, 8px);
	-moz-transform: rotate(-45deg) translate(1px, 8px);
	-ms-transform: rotate(-45deg) translate(1px, 8px);
	-o-transform: rotate(-45deg) translate(1px, 8px);
}

header.mobile .burger.cross .line_2 {
	opacity: 0;
}

header.mobile .burger.cross .line_3 {
	transform: rotate(45deg) translate(1px, -8px);
	width: 24px;
	-webkit-transform: rotate(45deg) translate(1px, -8px);
	-moz-transform: rotate(45deg) translate(1px, -8px);
	-ms-transform: rotate(45deg) translate(1px, -8px);
	-o-transform: rotate(45deg) translate(1px, -8px);
}

/*-- BURGER ANIMATION --*/

/*-- CAROUSEL ANIMATION --*/
.grid-container-video {
	transition: transform 0.5s ease;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	-ms-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;
}

.dot-nav-mobile .btn.active {
	width: 16px;
	height: 16px;
	border: 4px solid #dfb57b;
	border-radius: 8px;
}

/*-- CAROUSEL ANIMATION --*/

/*-- APP OPEN/CLOSE ANIMATION --*/
#app .container-selection .app-selection.open,
#app .container-selection.current-slide .app-selection.open {
	height: 105vh;
	transition: height 0.5s ease-in-out;
	-webkit-transition: height 0.5s ease-in-out;
	-moz-transition: height 0.5s ease-in-out;
	-ms-transition: height 0.5s ease-in-out;
	-o-transition: height 0.5s ease-in-out;
}

span.icon-plus.open .bar-horizontal {
	opacity: 0;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transition: opacity 0.5s ease, transform 0.3 ease;
	-webkit-transition: opacity 0.5s ease, transform 0.3 ease;
	-moz-transition: opacity 0.5s ease, transform 0.3 ease;
	-ms-transition: opacity 0.5s ease, transform 0.3 ease;
	-o-transition: opacity 0.5s ease, transform 0.3 ease;
}

span.icon-plus.open .bar-vertical {
	transform: rotate(90deg);
	transition: transform 0.3s ease;
	-webkit-transition: transform 0.3s ease;
	-moz-transition: transform 0.3s ease;
	-ms-transition: transform 0.3s ease;
	-o-transition: transform 0.3s ease;
}

/*-- APP OPEN/CLOSE ANIMATION --*/

/*-- APP CAROUSEL ANIMATION --*/

#app .container-selection.current-slide .app-selection {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}

#app .container-selection .app-selection {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}

#app button.btn-arrow:hover#previous {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

#app button.btn-arrow:hover#next {
	transform: scale(1.05) rotate(180deg);
	-webkit-transform: scale(1.05) rotate(180deg);
	-moz-transform: scale(1.05) rotate(180deg);
	-ms-transform: scale(1.05) rotate(180deg);
	-o-transform: scale(1.05) rotate(180deg);
}

/*-- APP CAROUSEL ANIMATION --*/
