:root {
	--main-font: 'Exo', sans-serif;
	--second-font: 'Playfair Display', serif;
	--main-weight: 800;
	--nav-size: 16px;
}

/************* MOBILE ANIMATION ****************/

@media screen and (max-width: 991px) {
	/*** POSITION RIGHT NAV ***/
	#cover header.mobile {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999999;
		height: 100vh;
		width: 335px;
		background-color: #f5f6f6;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		font-size: var(--nav-size);
		letter-spacing: 0.03em;
		color: black;
		-webkit-animation: navSlide 0.5s ease forwards;
		animation: navSlide 0.5s ease forwards;
	}

	/*-- ANIMATION NAV --*/

	@-webkit-keyframes navSlide {
		from {
			transform: translateX(-100%);
			opacity: 0;
		}

		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	@keyframes navSlide {
		from {
			transform: translateX(-100%);
			opacity: 0;
		}

		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	/*-- ANIMATION NAV --*/

	#cover header.mobile nav li,
	nav li.big-menu {
		display: block;
	}

	#cover object.center-line {
		position: static;
		margin-top: 1em;
		width: 12px;
		transform: translateY(10px);
	}

	#cover header.mobile nav .right-icon {
		display: none;
	}

	header.mobile nav.left-nav,
	header.mobile nav.right-nav,
	header.mobile nav .right-link {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	header.mobile div.logo {
		order: 1;
		width: 100%;
		height: 34px;
		margin: 0;
		border-bottom: 1px solid #e2e2e5;
		padding: 0 1em;
	}

	header.mobile div.logo object {
		display: block;
		height: 24px;
	}

	header.mobile div.logo img {
		display: none;
	}

	header.mobile nav.left-nav,
	header.mobile nav.right-nav {
		width: 80%;
		height: auto;
		margin: 2em auto;
	}

	header.mobile nav.right-nav .right-link {
		width: 100%;
		display: block;
	}

	header.mobile nav.left-nav {
		order: 2;
		border-bottom: 1px solid #e2e2e5;
	}

	header.mobile nav.right-nav {
		order: 3;
	}

	header.mobile nav.left-nav li,
	header.mobile nav.right-nav li {
		padding: 1em;
	}

	header.mobile nav li.big-menu {
		font-weight: var(--main-weight);
		text-transform: uppercase;
	}

	header.mobile nav li a {
		color: black;
	}

	/*-- ANIMATION LINK --*/

	@-webkit-keyframes linkSlide {
		from {
			opacity: 0;
			transform: translateX(-5%);
		}

		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes linkSlide {
		from {
			opacity: 0;
			transform: translateX(-100%);
		}

		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

/*-- ANIMATION LINK --*/

/*-- BURGER ANIMATION --*/
header.mobile .burger {
	position: absolute;
	top: 1em;
	right: -2em;
}

header.mobile .burger div {
	background-color: black;
}

header.mobile .burger.cross .line_1 {
	transform: rotate(-45deg) translate(1px, 8px);
	width: 24px;
}

header.mobile .burger.cross .line_2 {
	opacity: 0;
}

header.mobile .burger.cross .line_3 {
	transform: rotate(45deg) translate(1px, -8px);
	width: 24px;
}
