:root {
	--main-size: 15px;
	--title-size: 24px;
}

section {
	width: 375px;
}

/*********** FIRST SECTION ******************/
#cover {
	height: 530px;
	background: linear-gradient(
			46.21deg,
			#231f107a 18.51%,
			rgba(35, 29, 16, 0) 93.63%
		),
		url('/assets/img/cover/coverphone.png');
	mix-blend-mode: multiply;
}

/**** HEADER ****/
header {
	height: 60px;
	/* background-color: white; */
	width: 100%;
	justify-content: space-around;
	padding: 1em;
}

/*-- BURGER MENU --*/
header .burger {
	display: block;
}

header .burger div {
	width: 16px;
	height: 2px;
	background-color: white;
	margin: 3px;
}

/*-- NAVIGATION --*/
header .left-nav li,
.right-nav li {
	display: none;
	opacity: 0;
}

header nav.left-nav,
header nav.right-nav .right-link {
	display: none;
}

header nav.right-nav {
	width: 60%;
	padding: 0;
	justify-content: space-around;
}

header nav.right-nav .right-icon object {
	width: 18px;
}

header object.home {
	display: none;
}

header div.logo {
	margin: 0 1em;
}

header div.logo img {
	width: 70px;
}

/**** COVER TEXT ****/
.cover-text {
	margin-bottom: 1em;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cover-text.hidden {
	opacity: 0;
}

.title,
.description {
	align-self: flex-start;
}

/*-- TITLE -*/
.title h1 {
	font-size: var(--title-size);
	font-size: 32px;
	margin: 0.5em 0;
}

/*-- DESCR -*/
#cover .description {
	width: 100%;
}

.description h3 {
	font-size: 18px;
}

.description p,
.description span {
	display: none;
}

#cover button {
	font-size: var(--main-size);
	margin: auto;
	width: 100%;
}

#cover a {
	font-size: 11px;
	margin: auto;
}

/*********** FIRST SECTION ******************/

/*********** SECOND SECTION ******************/
#video .top-block {
	margin-top: 0;
}
