:root {
	--main-size: 15px;
	--title-size: 24px;
}

section {
	width: 375px;
}

/***** HEADER *****/

header {
	height: 60px;
	/* background-color: white; */
	width: 100%;
	justify-content: space-around;
	padding: 1em;
}

/*-- BURGER MENU --*/
header .burger {
	display: block;
}

header .burger div {
	width: 16px;
	height: 2px;
	background-color: white;
	margin: 3px;
}

/*-- NAVIGATION --*/
header .left-nav li,
.right-nav li {
	display: none;
	opacity: 0;
}

header nav.left-nav,
header nav.right-nav .right-link {
	display: none;
}

header nav.right-nav {
	width: 60%;
	padding: 0;
	justify-content: space-around;
}

header nav.right-nav .right-icon object {
	width: 18px;
}

header object.home {
	display: none;
}

header div.logo {
	margin: 0 1em;
}

header div.logo img {
	width: 70px;
}
/****** HEADER *****/

/*********** FIRST SECTION ******************/
#cover {
	height: 530px;
	background: linear-gradient(
			46.21deg,
			#231f107a 18.51%,
			rgba(35, 29, 16, 0) 93.63%
		),
		url('../assets/img/cover/coverphone.png');
	mix-blend-mode: multiply;
}

/**** COVER TEXT ****/
.cover-text {
	margin-bottom: 1em;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cover-text.hidden {
	opacity: 0;
}

.title,
.description {
	align-self: flex-start;
}

/*-- TITLE -*/
.title h1 {
	font-size: var(--title-size);
	font-size: 32px;
	margin: 0.5em 0;
}

/*-- DESCR -*/
#cover .description {
	width: 100%;
}

.description h3 {
	font-size: 18px;
}

.description p,
.description span {
	display: none;
}

#cover button {
	font-size: var(--main-size);
	margin: auto;
	width: 100%;
}

#cover a {
	font-size: 11px;
	margin: auto;
}

/*********** FIRST SECTION ******************/

/*********** SECOND SECTION ******************/
#video .top-block {
	margin-top: 0;
	width: 100%;
}

section object.center-line {
	top: -2em;
}

#video span h2 {
	font-size: var(--title-size);
}

/*-- GRID LECTEUR --*/
.grid-container-video {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 0.5fr 0.5fr;
	align-items: flex-start;
}

.video-lecteur {
	grid-column: 1/3;
	grid-row: 1/2;
}

.video-lecteur img {
	width: 100%;
}

/*-- CAROUSEL ARGUMENT --*/

.arg_1,
.arg_2,
.arg_3,
.arg_4,
.arg_5,
.arg_6 {
	grid-column: 1/3;
	grid-row: 2/3;
}

.arg_2 {
	transform: translateX(100%);
}

.arg_3 {
	transform: translateX(200%);
}

.arg_4 {
	transform: translateX(300%);
}

.arg_5 {
	transform: translateX(400%);
}

.arg_6 {
	transform: translateX(500%);
}

.dot-nav-mobile {
	display: block;
	grid-column: 1/3;
	grid-row: 3/4;
	text-align: center;
}

.grid-container-video .btn {
	height: 8px;
	width: 8px;
	margin: 0 0.25em;
}
svg.btn circle {
	fill: #e2e2e5;
}
