:root {
	--main-font: 'Exo', sans-serif;
	--second-font: 'Playfair Display', serif;
	--main-weight: 800;
	--nav-size: 16px;
	--title-size: 32px;
	--title-margin: 1.2em 0 1em;
}

div.container {
	position: relative;
}

section {
	width: 1440px;
	position: relative;
	display: flex;
	justify-content: center;
}

/****** CENTER LINE ***********/
section object.center-line {
	position: absolute;
	top: 0%;
	left: 50%;
	z-index: 999;
}

/****** CENTER LINE ***********/

/****** STICKY BAR ******/
#sticky-bar {
	position: fixed;
	height: 60px;
	z-index: 99999999;
	background-color: white;
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.07);
	display: none;
	opacity: 0;
}

#sticky-bar.on {
	opacity: 1;
	display: flex;
	justify-content: center;
}

.bar {
	display: inline-flex;
	width: 70%;
	align-items: flex-end;
	margin: auto;
}

.bar img {
	padding: 0 1em;
}

.bar span {
	padding: 0 1em;
}

.bar span h4 {
	font-size: 18px;
	font-family: var(--second-font);
}

.bar span p {
	color: #8d8e93;
	font-size: 12px;
	font-family: var(--main-font);
	letter-spacing: 0.03em;
}

.bar button {
	height: 36px;
	width: 220px;
	line-height: 36px;
	font-size: 12px;
	letter-spacing: 0.03em;
	color: white;
	font-family: var(--main-font);
	background-color: #dfb57b;
	border-radius: 24px;
	border: none;
	cursor: pointer;
	position: relative;
}

/****** STICKY BAR ******/

/****** HEADER ******/

/**** NAVIGATION ****/
header .burger {
	display: none;
}

header {
	width: 60%;
	height: 80px;
	padding: 40px 0px;
	display: flex;
	font-family: var(--second-font);
	font-size: var(--nav-size);
	position: absolute;
	z-index: 99999;
}

header div.logo object {
	display: none;
}

header div.logo img path.logo-path {
	display: block;
}

header nav li {
	list-style: none;
}

header nav li a,
header nav li a:focus {
	text-decoration: none;
	color: white;
	margin: 1em 0em;
}

header nav li.big-menu {
	display: none;
}

header nav.left-nav,
header nav.right-nav {
	display: flex;
	width: 45%;
	height: 20px;
	justify-content: space-between;
}

header .logo {
	margin: 0em 4em;
	align-self: flex-start;
	margin-top: -1em;
}

/*-- NAV POSITION --*/
.left-nav,
.right-nav {
	padding: 0 2em 0 0;
}

.right-nav .right-link {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

object.top-icon {
	margin: 0 1em;
}

/**** HEADER ****/

/*********** FIRST SECTION ******************/
#cover {
	height: 620px;
	background-image: url('../assets/img/cover/cover.png');
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	color: white;
}

/**** COVER TEXT ****/
.cover-text {
	height: 270px;
	width: 80%;
	margin-bottom: 120px;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	align-items: flex-end;
}

/*-- TITLE -*/
.title {
	grid-column: 1/2;
	align-self: flex-start;
}

.title h1 {
	font-size: 74px;
	font-weight: 400;
}

/*-- DESCR --*/

#cover .description {
	grid-column: 3/4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	font-family: var(--main-font);
	font-size: 15px;
}

.description h3 {
	font-family: var(--second-font);
	font-size: 24px;
	font-weight: 400;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.description p {
	width: 80%;
}

#cover .description a,
.description a:focus {
	color: white;
	text-transform: uppercase;
	font-size: 11px;
	padding: 0 0.5em;
	vertical-align: middle;
	letter-spacing: 2px;
}

#cover button {
	height: 54px;
	width: 280px;
	border: none;
	border-radius: 27px;
	background-color: white;
	color: black;
	font-family: var(--main-font);
	font-size: 15px;
}

/*********** FIRST SECTION ******************/

/*********** SECOND SECTION *****************/
#video {
	height: 580px;
	font-family: var(--main-font);
}

.top-block {
	height: 100%;
	padding: 0 2em;
	display: flex;
	flex-direction: column;
	margin-top: -4em;
	background-color: white;
	position: relative;
}

section object.center-line {
	top: -12px;
}

#video span {
	width: 100%;
}

#video span h2 {
	margin: auto;
	font-size: var(--title-size);
	font-family: var(--second-font);
	text-align: center;
	margin: var(--title-margin);
}

/*-- GRID LECTEUR --*/

.grid-container-video {
	color: #8d8e93;
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: flex-start;
	grid-template-columns: 0.5fr 1fr 0.5fr;
	grid-template-rows: 33% 33% 33%;
	grid-template-areas:
		'arg_1 video arg_4'
		'arg_2 video arg_5'
		'arg_3 video arg_6';
}

.argument {
	font-size: 15px;
	width: 80%;
}

.video-lecteur {
	grid-area: video;
}

.arg_1 {
	grid-area: arg_1;
}

.arg_2 {
	grid-area: arg_2;
}

.arg_3 {
	grid-area: arg_3;
}

.arg_4 {
	grid-area: arg_4;
}

.arg_5 {
	grid-area: arg_5;
}

.arg_6 {
	grid-area: arg_6;
}

.dot-nav-mobile,
svg.hidden {
	display: none;
}

/*--SVG PLAYER --*/
.video-lecteur {
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.video-lecteur button.btn-lecteur {
	width: 45px;
	height: 45px;
	outline: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 35px);
}

svg#lecteur .arrow {
	fill: white;
}

svg#lecteur .circle {
	stroke: white;
	stroke-width: 4;
	stroke-dashoffset: 204;
	stroke-dasharray: 204;
}

/*********** SECOND SECTION *****************/

/*********** THIRD SECTION *****************/
#app {
	height: 612px;
	background-color: #f5f6f6;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

#app h2 {
	text-align: center;
	font-family: var(--second-font);
	font-size: var(--title-size);
	margin: var(--title-margin);
}

/*--APP BUTTON STORE--*/
#app .btn-arrow {
	position: absolute;
	width: 52px;
	height: 52px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	border-radius: 26px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	-ms-border-radius: 26px;
	-o-border-radius: 26px;
}

#app button svg.arrow {
	width:100%;
	height: 100%;
}

#app  .btn-arrow#previous,
.btn-arrow#next {
	position: absolute;
	z-index: 5000;
	top: calc(50% - 52px / 2);
}

#app .btn-arrow#previous {
	top: calc((612px / 2) + 52px);
	left: 15.5%;
	z-index: 150;
}

#app .btn-arrow#next {
	top: calc((612px / 2) + 52px);
	right: 15.5%;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

/*--APP BUTTON NEXT PREVIOUS--*/

/*--APP BUTTON STORE--*/
#app .app-button {
	position: absolute;
	display: inline-flex;
	justify-content: center;
	width: 25%;
	bottom: 4em;
	z-index: 41;
	left: 45%;
}

#app .app-button button {
	border: none;
	outline: none;
	background-color: transparent;
	margin: auto;
	cursor: pointer;
}
/*--APP BUTTON STORE--*/

#app .container-selection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	position: absolute;
	bottom: 2em;
}

#app .container-selection .app-selection {
	margin-bottom: 1em;
}

#app .container-selection.current-slide {
	z-index: 40;
}

#app .container-selection {
	z-index: 10;
}

#app .container-selection .title-selection {
	width: 70%;
	font-size: 15px;
	font-family: var(--main-font);
	color: #6c6d72;
	display: flex;
}

#app .container-selection.current-slide .title-selection h4  {
	border-bottom: 2px solid #DFB57B;
}

.container-selection.selection_1 .title-selection {
	margin: 0 0% 4em;
	justify-content: flex-start;
}

.container-selection.selection_2 .title-selection {
	margin: 0 0% 4em 35%;
	justify-content: flex-start;
}

.container-selection.selection_3 .title-selection {
	margin: 0 35% 4em 0;
	justify-content: flex-end;
}

.container-selection.selection_4 .title-selection {
	margin: 0 0% 4em;
	justify-content: flex-end;
}


.title-selection span.icon-plus {
	display: none;
}

#app .container-selection .app-selection {
	border-top: 1px solid #e2e2e5;
	width: 100%;
	height: 350px;
}

#app .app-selection .description-selection {
	position: relative;
	width: 65%;
	height: 100%;
	margin: auto;
	background-color: white;
}

/*-- APP SELECTION --*/
#app .app-selection img.background {
	-webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 300;
}

#app .app-selection img.phone {
	position: absolute;
	/* left: calc(50% - 262px / 2 - 276px); */
	bottom: -20px;
	z-index: 1000;
}

/*-- DESCRIPTION --*/
.app-selection .description {
	float: right;
	width: 60%;
	height: 80%;
	padding: 2em 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.app-selection .description h5 {
	font-family: var(--second-font);
	font-size: var(--nav-size);
	z-index: 500;
	text-transform: uppercase;
}

.app-selection .description p {
	color: #6c6d72;
	font-family: var(--main-font);
	font-size: 15px;
	z-index: 500;
	width: 90%;
}

/*********** THIRD SECTION *****************/

/*********** FOURTH SECTION *****************/
#blog {
	height: 807px;
	font-family: var(--main-font);
	font-size: var(--nav-size);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin-bottom: 2em;
}

#blog .blog-separation {
	width: 80%;
	margin: auto;
	border-bottom: 1px solid #e2e2e5;
	display: flex;
	justify-content: center;
}

#blog button {
	width: 200px;
	height: 36px;
	border: 1px solid #231f10;
	border-radius: 24px;
	background-color: white;
	font-family: var(--main-font);
	font-size: 12px;
	text-align: center;
	margin-bottom: 1em;
}

/*-- TITLE BLOCK --*/
#blog .title {
	width: 100%;
	text-align: center;
}

#blog .title h2 {
	font-family: var(--second-font);
	font-size: var(--title-size);
	margin: var(--title-margin);
}

#blog .title p {
	font-size: 15px;
	color: #8d8e93;
}

#blog h3 {
	text-align: center;
	padding: 1em 0 0.5em;
}

/*-- ARTICLE BLOCK --*/
#article,
#cocktails {
	width: 80%;
	margin: 1em 0;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

#article figure.article-item {
	position: relative;
}

#article .article-item .img-blog {
	background-image: url('../assets/img/blog/blog.png');
	height: 151px;
	width: 260px;
	background-size: cover;
}

#article figure.article-item figcaption {
	position: absolute;
	top: 96px;
	left: 20px;
	right: 20px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1em;
}

#article figure.article-item h4 {
	font-size: 12px;
	letter-spacing: 0.03em;
	color: #dfb57b;
}

#article figure.article-item p {
	font-size: var(--nav-size);
	font-family: var(--second-font);
}

#article figure object.center-line {
	left: calc(50% - 16px / 2);
	top: -8px;
}

/*-- COCKTAIL BLOCK --*/
#cocktails figure.cocktails-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#cocktails .cocktails-item .img-cocktail {
	width: 115px;
	height: 115px;
}

#cocktails .cocktails-item:first-child .img-cocktail {
	background-image: url('../assets/img/blog/cocktail-1.png') !important;
}

#cocktails figure figcaption {
	width: 150%;
}

#cocktails figure div.arome {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 12px;
	margin: 1em 0;
	text-align: center;
}

/*********** FOURTH SECTION *****************/
}
